name: Test

on:
  push:
    branches: [ main ]
  pull_request: {}

jobs:
  run_tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: gradle/wrapper-validation-action@v1
      - uses: actions/setup-java@v3.6.0
        with:
          distribution: 'zulu'
          java-version: 11

      - name: Run tests
        run: ./gradlew check --stacktrace

      - name: Store Test Results
        uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: error-report
          path: "**/build/reports/tests/test/*.html"

  bundle_sample:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: gradle/wrapper-validation-action@v1
      - uses: actions/setup-java@v3.6.0
        with:
          distribution: 'zulu'
          java-version: 11

      - name: Bundle Sample Project
        run: ./gradlew -p sample app:bundleRelease
